NODE_ENV=dev
PORT=3000
MONGODB_URL=mongodburl
MONGODB_NAME=test
BASE_URL=http://localhost:3000

# Generate New Keys: 
# 1. Go to http://travistidwell.com/jsencrypt/demo 
# 2. Copy the private/public key
# 3. Go to https://www.base64encode.org => paste => Encode
ACCESS_TOKEN_PRIVATE_KEY=
ACCESS_TOKEN_PUBLIC_KEY=

REFRESH_TOKEN_PRIVATE_KEY=
REFRESH_TOKEN_PUBLIC_KEY=
